@import url(http://fonts.googleapis.com/css?family=Nunito:300,400,700);

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,svg {
	display: block
}


body{
	background-color: #fff;
	color: #111;
	font-size: 100%;
	font-family: Nunito, Arial, sans-serif;
	font-weight: 300;
	padding:10px 2% 1em;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 400;
	margin:0 0 0.6em 0;
	clear:both;
}
h1{
	margin-bottom: 1em;
}
p,ul,ol{
	margin:0 0 1em;
}

a{
	color: #b50024;
	text-decoration: underline;
}
	a:visited{
		color:#942234
	}
	a:hover, a:focus{
		text-decoration: none;
	}

hr{
	clear:both;
}

code{
	font-family: monospace;
}

#container{
	max-width:1100px;
	margin:0 auto;
}

#content, #sidebar{
	/* border-top:3px solid #a09fa1 */
}
#content{
	width:65%;
	margin-right:4%;
	float:left;
}

#content li{
	margin-bottom:0.5em;
}

#sidebar{
	width:30%;
	float:right;
}
	#sidebar h3{
		margin-bottom: 0.8rem;
	}
	#sidebar ul{
		list-style:none;
		padding: 0;
	}
	#sidebar ul a{
		display: block;
		background-color: #f3f3f3;
		padding: 5px 2%;
		margin-bottom:1px;
		text-decoration: none;
	}
	#sidebar ul a:hover, #sidebar ul a:focus{
		background-color: #dedee3
	}
	
	#sidebar nav h3{
		margin-top: 0.3333em;
	}

aside, footer{
	font-size:0.8em;
}
footer{
	clear:both;
	padding-top:1em;
}
	footer > p{
		width:30%;
		margin-right:5%;
		float:left;
	}
	footer > p:last-child{
		margin-right: 0;
	}
	footer hr{
		border-color: #ddd;
		margin-bottom: 1em;
	}

footer:after{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

table{
	width: 100%;
}
th{
	text-align: left;
}
th[scope="col"]{
	border-bottom: 1px #ccc solid;
}

.col{
	width:48%;
	margin-right:2%;
	float: left;
}


@media screen and (max-width:640px){
	#content, #sidebar{
		width:100%;
		float:none;
		margin:0 0 1.5em;
	}
	footer > p, .col{
		width: 100%;
		float: none;
		margin-right: 0;
	}
}

