/* Generella egenskaper för sidan */
body{
	font-family:"century gothic", "calibri", "arial";
}
h2{
	height:60px;
	line-height:60px;
	font-size:24px;
	font-weight:bold;
	text-shadow: 0px 0px 5px #999;
	text-align:center;
}

h3{
	height:50px;
	line-height:50px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	text-shadow: 0px 0px 3px #999;
}
p{
	margin:5px 0;
	line-height:20px;
}
i{
	font-style:italic;
}
legend{
	margin:10px 0;
	border-bottom:1px solid #333;
	display:block;
}

/* Layout */
#wrapper{
	width:800px;
	overflow:hidden;
	margin:20px auto;
	box-shadow: 0 0 10px #333;
}
/* header */
#wrapper > header{
	height:100px;
	background-color:#ccc;
}
#wrapper > header > h1{
	height:50px;
	line-height:50px;
	text-align:center;
	font-size:30px;
	font-weight:bold;
	text-shadow: 0px 0px 10px #999;
}
#wrapper > header > nav{
	height:50px;
	line-height:50px;
	background-color:#ddd;
}
#wrapper > header  li{
	float:left;
	padding: 0 20px;
		-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
#wrapper > header  li:hover{
	background-color:#aaa;
}
#chosen{
	background-color:#aaa;
}
/* #content */
#content{
	width:560px;
	float:left;
	padding:10px 20px;
	overflow:hidden;
}
#wrapper > aside{
	padding:10px 20px;
	width:160px;
	float:left;
	background-color:#eee;
}
#wrapper > aside a{
	display:block;
	background-color:#ccc;
	margin-bottom:10px;
	padding:10px;
	color:#fff;
}
#wrapper > footer{
	width:800px;
	height:50px;
	float:left;
	line-height:100px;
	background-color:#ccc;
}
/* Sectioner */
#content > section{
	clear:both;
	padding:10px;
	margin:20px 0;
	overflow:hidden;
}
#content > section:nth-child(even){
	background-color:#eee;
}
/* Todo-lista */
#todoList{
	margin:20px 0;
}
#todoList li{
	list-style:square;
	margin:5px 0 0 40px;
	padding:0 0 0 10px;
}

/* Bilder & bildtexter i "figure" */
figure{
	width:176px;
	float:left;
}
figure > img{
	display:block;
	margin:auto;
	box-shadow:0 0 9px #666;
	border:3px solid #fff;
	height:150px;
}
figcaption{
	font-style:italic;
	margin:5px 0 10px 0;
	text-align:center;
	font-size:10px;
}

/* Nya inputs */
.inputs label, .inputs input{
	width:100%;
	float:left;
}
.inputs input{
	margin-bottom:20px;
}

/* CSS 3 stuff */
#roundCorners, #roundCornersShadow, #roundCornersShadowText{
	background-color:#ccc;
	padding:30px;
	margin:auto;
	text-align:center;
	border-radius:20px;
}

#roundCornersShadow, #roundCornersShadowText{
	box-shadow:0 0 10px #111;
}

#roundCornersShadowText{
	text-shadow: 0px 0px 5px #666;
}

#rgbaText{
	color: rgba(157, 123, 29, 0.8);
}

#googleFont{
	font-family: 'Devonshire', cursive;
	font-size:20px;
}

#columns{
	-moz-column-count: 2;
-moz-column-gap: 10px;
-webkit-column-count: 2;
-webkit-column-gap: 10px;
column-count: 2;
column-gap: 10px;
}

#boxResize{
	resize: both;
	overflow: auto;
	padding:50px;
	width:200px;
	background-color:#aaa;
}

#gradient{
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-8 */

padding:50px;
}

#animation{
	background-color:red;
	padding:20px;
	text-align:center;
	width:300px;
	-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
transition: all 1s ease-in-out;
}
#animation:hover{
	background-color:green;
	width:500px;
	color:white;
}

#screw{
	-moz-transform: scale(1) rotate(-30deg) translateX(20px) translateY(20px) skewX(20deg) skewY(20deg);
-webkit-transform: scale(1) rotate(-30deg) translateX(20px) translateY(20px) skewX(20deg) skewY(20deg);
-o-transform: scale(1) rotate(-30deg) translateX(20px) translateY(20px) skewX(20deg) skewY(20deg);
-ms-transform: scale(1) rotate(-30deg) translateX(20px) translateY(20px) skewX(20deg) skewY(20deg);
transform: scale(1) rotate(-30deg) translateX(20px) translateY(20px) skewX(20deg) skewY(20deg);

padding:20px;
background-color:#aaa;
max-width:200px;
text-align:center;
margin-bottom:50px;
margin-left:100px;
margin-top:20px;
box-shadow:0 0 10px #999;
}