body {
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 1.2em; /* 16px * 1.25 = 20px */
	background-color: #ccc;
	color: #000;
	/*  Svart kan också anges som:
	    #000000
	    rgb(0, 0, 0)
	    black
	*/
}
h1, h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
	color: #333333; /* Lite rött, blått och grönt => mörkt utan färgnyans */
}
a {
    color: #F18D00;
    text-decoration: underline;
}
    a:visited{
        color:purple;
    }
    /* hover => mus ovanför
       focus => markerad med tangentbord */
    a:hover, a:focus{
        color: #F17112;
        text-decoration: none;
    }

img{
    border: 2px solid rgb(50, 50, 50);
}

table{
    width:50%;
}
td{
    border: 1px solid #000;
    padding: 5px;
}

/* Identiteten listor: */
#listor {
    font-weight:bold;
}

/* Klassen rolig: */
.rolig{
    font-family: "Comic Sans", "Comic Sans MS", serif;
}

#speciell{
    font-style: italic;
}


h1{
	margin-top:0;
}
h2{
	clear: left;
}

#wrapper{
	width:600px;
	background-color:#fff;
	padding:20px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #666;
}
#nav{
	list-style: none;
	padding-left:0;
}
#nav li{
	/*display: inline;*/
	float: left;
}

#nav a{
    display: block;
    padding:10px;
    margin:0 5px 10px 0;
    border:1px solid #666;
    background-color:#ddd;
}













