body {
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 1.2em; /* 16px * 1.25 = 20px */
	background-color: white;
	color: #000;
	/*  Svart kan också anges som:
	    #000000
	    rgb(0, 0, 0)
	    black
	*/
	padding-left: 10%; /* innermarginal */
	padding-right: 10%;
}
h1, h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
	color: #333333; /* Lite rött, blått och grönt => mörkt utan färgnyans */
}
a {
    color: #F18D00;
    text-decoration: underline;
}
    a:visited{
        color:purple;
    }
    /* hover => mus ovanför
       focus => markerad med tangentbord */
    a:hover, a:focus{
        color: #F17112;
        text-decoration: none;
    }

img{
    border: 2px solid rgb(50, 50, 50);
}

table{
    width:50%;
    margin: 0 auto; /* Bonus: vad gör detta varför? */
}
td{
    border: 1px solid #000;
    padding: 5px;
}

/* Identiteten listor: */
#listor {
    font-weight:bold;
}

/* Klassen rolig: */
.rolig{
    font-family: "Comic Sans", "Comic Sans MS", serif;
}

#speciell{
    font-style: italic;
}

